@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.container .heading h3 img.instagram-logo {
    width: 1em; /* Set width relative to font size */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align vertically with text */
    margin-right: 10px; /* Space between image and text */
}

.container .heading h2 span{
    font-weight: 100;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .grid {
    display: flex;
    flex-direction: column;
    width: calc(32.5% - 20px); /* Adjusted width with space in between */
    margin-right: 20px; /* Margin to create space between grid items */
}

.container .box .grid:last-child {
    margin-right: 0; /* Remove right margin from the last grid item */
}

.container .box .grid img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.container .box .grid img:hover {
    transform: scale(1.03); /* Enlarge image on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}
/* Remove underline and change color of links */
a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent element */
}

/* Optionally, specify a color if you don't want it to inherit */
a {
    color: black; /* Or any color you prefer */
}

/* Ensure the link does not change color when visited */
a:visited {
    color: black; /* Or any color you prefer */
}

@media only screen and (max-width: 750px)
{
    .container .box{
        flex-direction: column;
    }
    
    .container .box .grid{
        width: 100%;
    }
}

@media only screen and (max-width: 650px)
{    
    .container .heading{
        width: 100%;
    }
    
    .container .heading h3{
        font-size: 1em;
    }
}
